.env
.env.dev
discordguild.php
f.php
test.php
phptags
docker-compose.debug.yaml
assets/css/style_new.css
.idea/
assets/css/style_bonk.css
push.sh
assets/img/yeet.jpg
debug.sh
lol.txt
impressum.html
/vendor/
/inc/
.envpriv.dev
debug.sh
composer.phar
buildpush.sh
/archive/
html/install-php-extensions
composer.lock
info.php
